spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: jdbc:postgresql://localhost:5432/unifiedapi_dev
    username: rpashev
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

server:
  port: 8081

logging:
  level:
    root: INFO
    org.springframework.boot.autoconfigure: WARN
    com.rpashev.api: INFO
